{{ define "main" }}
	{{ if .Content }}
	<div>
		{{ with .Content }}<div>{{ . }}</div>{{ end }}
	</div>
	{{ end }}
	
	<div class="listing-camps">
	{{ range .Data.Pages }}
		<article class="camp" data-aos="fade-up"
		 data-aos-duration="500">				
			{{$mainBanner := index (.Params.banner) 0 }}
			<a href="{{.Permalink}}"><img src="/{{$mainBanner}}" alt="{{ .Title }}"/></a>
			<h2>
				{{ .Title }}	
			</h2>			
			{{ if .Params.teaser }}
			  <p>{{ markdownify .Params.teaser }}</p>
			{{ end }}	
			<a href="{{.Permalink}}">
				{{ if .Params.ensavoirplus }}
				  {{ .Params.ensavoirplus }}
				{{ end }}
			</a>		
		</article>
	{{ end }}
	</div>
	
{{ end }}
