{{ define "main" }}
	
	<article class="camps">
		<h1>
			{{ .Title }}	
		</h1>

		{{ if .Params.teaser }}
		  <p class="lead">{{ markdownify .Params.teaser }}</p>
		{{ end }}
		
		{{ if .Params.open }}
			
			<span class="camp-open">
				{{ if eq .Params.full true }}
				Le camps<br/>est complet
				{{ else }}
				inscriptions<br/>ouvertes
				{{ end }}
			</span>
			{{ if .Params.form }}
				<a href="{{ .Params.form }}" target="_blank" class="button">Inscrivez-vous en ligne</a>
			{{ end }}	
		{{ end }}	
		{{ if .Params.banner }}
			<div class="banner">
				{{ range $val := .Params.banner }}
					<img src="/{{ $val }}" />
				{{ end }}					
			</div>
		{{ end }}
		
		<div class="camp-content">
			
			<aside>	
				
					<dl>	
					{{ if .Params.startdate }}
					  <dt>Dates du camp</dt>
					  <dd>Du {{ .Params.startdate }} au {{ if .Params.enddate }}{{ .Params.enddate }}{{ end }}</dd>
					{{ end }}
					{{ if .Params.location }}
					  <dt>Lieu</dt>
					  <dd>{{ .Params.location }}</dd>
					{{ end }}
					{{ if .Params.age }}
					  <dt>Âge</dt>
					  <dd>{{ .Params.age }}</dd>
					{{ end }}	
					{{ if .Params.price }}
					  <dt>Prix</dt>
					  <dd>{{ .Params.price }}</dd>
					{{ end }}		
					{{ if .Params.responsable }}
					  <dt>Responsable</dt>
					  <dd>{{ .Params.responsable }}</dd>
					{{ end }}							
					</dl>
					
				
			</aside>
			
			{{ .Content }}
		
		</div>
		

		
	</article>
	
	
	
	<nav class="pagination">	
		{{ if .PrevInSection }}
		<a href="{{.PrevInSection.Permalink}}">	
			{{.PrevInSection.Title}}
		</a>
		{{ end }}
		{{ if .NextInSection }}
		<a href="{{.NextInSection.Permalink}}">
			{{.NextInSection.Title}}
		</a>
		{{ end }}
	</nav>
{{ end }}
