{{ define "main" }}
	
	<article class="camps">
		<h1>
			{{ .Title }}	
		</h1>

		
		{{ if .Params.teaser }}
		  <p class="lead">{{ markdownify .Params.teaser }}</p>
		{{ end }}
		
		{{ if .Params.open }}
			{{ if eq .Params.full true }}
			<span class="camp-open camp-complet">
				Le camps<br/>est complet
			</span>
			{{ else }}
				<span class="camp-open">
					inscriptions<br/>ouvertes
				</span>
				{{ if .Params.form }}
					<a href="{{ .Params.form }}" target="_blank" class="button">Inscription en ligne</a>
				{{ end }}				
			{{ end }}
		{{ end }}	
		{{ if .Params.banner }}
			<div class="banner">
				{{ range $val := .Params.banner }}
					<img src="/{{ $val }}" />
				{{ end }}					
			</div>
		{{ end }}
		
		<div class="camp-content">
			
			<aside>	
				
					<dl>	
					{{ if .Params.startdate }}
					  <dt>Dates du camp</dt>
					  <dd>Du {{ .Params.startdate }} au {{ if .Params.enddate }}{{ .Params.enddate }}{{ end }}</dd>
					{{ end }}
					{{ if .Params.location }}
					  <dt>Lieu</dt>
  					  <dd>{{ if .Params.locationlink }}<a href="{{ .Params.form }}" target="_blank" class="button">{{ end }}{{ .Params.location }}{{ if .Params.locationlink }}</a>{{ end }}</dd>
					{{ end }}
					{{ if .Params.age }}
					  <dt>Âge</dt>
					  <dd>{{ .Params.age }}</dd>
					{{ end }}	
					{{ if .Params.price }}
					  <dt>Prix</dt>
					  <dd>{{ .Params.price }}</dd>
					{{ end }}		
					{{ if .Params.responsable }}
					  <dt>Responsable</dt>
					  <dd>{{ .Params.responsable }}</dd>
					{{ end }}							
					</dl>
					
				
			</aside>
			
			{{ .Content }}
		
		</div>
		

		
	</article>
	
	
	<section class="homepage-section">
		<h2>Découvrez tous nos camps</h2>
		  <div class="listing-camps">
			{{ range where .Site.Pages "Section" "camps" }}
				{{ if .Params.teaser }}
				
				
				<article class="camp" data-aos="fade-up"
				 data-aos-duration="500">				
					{{$mainBanner := index (.Params.banner) 0 }}
					<a href="{{.Permalink}}"><img src="/{{$mainBanner}}" alt="{{ .Title }}" class="listing-camps-banner" loading="lazy"/>
						{{ if .Params.open }}
							{{ if eq .Params.full true }}
							<span class="camp-open camp-complet">
								Le camp<br/>est complet
							</span>
							{{ else }}
							<span class="camp-open">
								inscriptions<br/>ouvertes
							</span>
							{{ end }}
						{{ end }}	
					</a>
					<h2>
						{{ .Title }}	
					</h2>			
					{{ if .Params.teaser }}
					  <p>{{ markdownify .Params.teaser }}</p>
					{{ end }}	
					<a href="{{.Permalink}}">
						{{ if .Params.ensavoirplus }}
						  {{ .Params.ensavoirplus }}
						{{ end }}
					</a>		
				</article>			
				
				{{ end }}	
			{{else}}
				<p>Aucun camps à l'horizon</p>
			{{ end }}
		  </div>
		</section>
	
	

{{ end }}
