:root {
  /* colors https://coolors.co/093059-29a6d8-044803-0e9c03-ffffff */  
  --blue: hsla(211, 82%, 19%, 1);
  --crayola: hsl(197, 100%, 72.9%);
  --green: hsla(119, 92%, 15%, 1);
  --green2: hsla(119, 92%, 17%, 1);
  --green3: hsla(119, 92%, 19%, 1);
  --green4: hsla(119, 100%, 20%, 1);
  --apple: hsla(116, 96%, 31%, 1);
  --apple2: hsla(116, 100%, 50%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --wood: hsla(23, 86%, 17%, 1);
  --inwood: hsl(23, 100%, 18%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --blue: hsla(211, 82%, 8%, 1);
    --crayola: hsla(197, 69%, 50%, 1);
    }
}



/* A11Y */
.a11y-navigation{
  position: fixed;
  z-index: 100;
  top: 1em;
  left: 1em;
}
.a11y-navigation ul li{
  list-style: none;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.sr-show-on-focus:focus{
  z-index: 20;
  width: auto;
  min-width: 10em;
  height: auto;
  clip: auto;
  background-color: #000;
  padding: 0.4em 1em;
  color: #fff;
}


html{
  font-size: 110%;
}

/* Prevent animation library to hide data for javascript disabled https://github.com/michalsnik/aos/issues/541 */
html.no-js [data-aos] {
  opacity: 1;
  transform: none;
}

body{
  background-color: var(--blue);
  color: var(--white);
  font-family: 'avenir next', avenir, 'helvetica neue', -apple-system,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: calc(1em + 0.5vw);
  font-size: clamp(1em,calc(1em + 1vw),24px);
  margin: 0;
  padding:0;
  
  background-color:var(--blue);
  background-image: radial-gradient(rgba(255,255,255,.6), rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.6), rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(rgba(255,255,255,.6), rgba(255,255,255,.1) 1px, transparent 40px), 
  radial-gradient(rgba(255,255,255,.6), rgba(255,255,255,.1) 1px, transparent 2px);
  background-size: 800px 800px, 600px 600px, 400px 400px, 155px 155px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  
}

main{
  position: relative;
  z-index: 80;
  max-width: 50em;
  margin: auto;
}

@supports (display: grid) and (not (-ms-ime-align: auto)) {
	main{
	 max-width: none;	
	}
  .container{
	display: grid;
	width: 100%;
	max-width: 100%;
	grid-template-columns:
	[full-start] minmax(1em, 1fr)
	[main-start] minmax(0, 50em) [main-end]
	minmax(1em, 1fr) [full-end];
  }
  .container>*{
	grid-column: main;
  }
  .container-main{
	grid-column: main;
  }
  .container-full{
	grid-column:full;
  }
}

img{
  max-width: 100%;
}

a{
  color: var(--crayola);
  text-decoration-skip-ink: auto;
  text-decoration: currentcolor underline;
}
a:hover{
  color: var(--apple);
}

a.button{
  background-color: var(--apple);
  color: var(--white);
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  /* faire clignoter :-) */
}
a.button:hover{
  background-color: var(--apple2);
  color: var(--blue);
}

#logo-espoir-tramelan{
  /* background: #ffffffcc;
  box-shadow: 0 0 4em #fff; */
  display: block;
  border-radius: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#logo-espoir-tramelan span{
  color: var(--white);
  font-size: calc(1.2em + 1vw);
  font-size: clamp(1.6em,calc(1.2em + 1vw),60px);
  padding: 0 0.5em;
}
#logo-espoir-tramelan img{
  background: var(--white);
  border-radius: 100%;
  border: 10px solid var(--white);
  width: 120px;
  height: auto;
}

.sky{
  background: var(--crayola);
  height: 1vh;
}
header nav ul{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 1vh;
  line-height: 1em;
}
header nav li {
  list-style: none;
}
header nav a{
  display: block;
  padding: 0.5em 0.6em;
  text-decoration: none;
  transition: color 0.6s ease-in-out;
}
header nav a:hover{
  color: var(--apple);
  text-decoration: underline;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2vh;
  margin-bottom: 5vh;
  margin-left: 1em;
  margin-right: 1em;
}
@media (max-width: 800px) {
  header nav ul{
    margin: 2em 0;
    flex-direction: column;
    align-items: flex-start;
  }
  header nav a{
    padding: 0.5em 0em;
  }
}

/* Typography */
h1, h2, h3, h4, h5{
  word-wrap: break-word;
}
h1, .h1, .h-huge {
  font-size: -webkit-calc(200% + 4vw);
  font-size: clamp(2em,calc(2em + 4vw),100px);
  line-height: 1.1em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.4em;
}
h2, .h2 {
  font-size: calc(1.2em + 1vw);
  font-size: clamp(1.6em,calc(1.2em + 1vw),60px);
  line-height: 1.3em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.2em;
}
.lead{
  font-size: calc(1.2em + 1vw);
  font-size: clamp(1.6em,calc(1.2em + 1vw),60px);
  line-height: 1.3em;
  font-weight: 600;
}
h3, .h3 {
  font-size: calc(0.9em + 1vw);
  font-size: -webkit-calc(90% + 1vw);
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}
h4, .h4 {
  font-size: calc(0.8em + 1vw);
  font-size: -webkit-calc(80% + 1vw);
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}


.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

p, ul, ol, pre, table, blockquote {
  line-height: 1.56em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

ul, ol{
  margin-left: 1.4em;
  padding-left: 0em;
  margin-bottom: 1em;
}
ul li, ol li{
  margin-bottom: 0.3em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0.3em;
  margin-bottom: 0px;
}

input, textarea, keygen, select, button{
  font-size: 100%;
}

mark{
  background-color: yellow;
}

/* Homepage */
.hero-image{
  border-radius: 100%;
  width: 30vh;
  height: 30vh;
  object-fit: contain;
  float: right;
}
.homepage-section{
  margin-top: 3em;
}
/* CAMPS */
.camps{
  position: relative;
  padding-top: 0.4em;
}
.camps h1{
  padding-right: 1em;
}
.camp-open{
  display: inline-block;
  text-transform: uppercase;
  font-size: 60%;
  padding: 0.5em;
  position: absolute;
  top:-1em;
  right: -1em;
  text-align: center;
  transform: rotate(-15deg);
  background-color: var(--crayola);
  color: var(--white);
  transition: all 0.1s ease-in-out;
  box-shadow: 4px 4px 4px var(--blue);
}
.camp-complet{
  background-color: var(--inwood);
}
.listing-camps .camp-open{
  transform: rotate(15deg);
}
.camp-open:hover{
  transform: rotate(-5deg);
  font-size: 70%;
}
.listing-camps{
  margin: 2em 0;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}
.listing-camps-banner{
  object-fit: cover;
  width: 100%;
  height: 8em;
}
.listing-camps .camp{
  
}

/* FAQ */
.listing-faq{
  margin: 2em 0;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}
.listing-faq .faq{
  
}


/* Pagination */
.pagination{
  margin: 3em 0;
  display: flex;
  gap: 2em;
  justify-content: space-between;
}
.pagination > *:last-child{
  text-align: right;
}


/* Banner image */
/* Banner show 3 pictures */
.banner{
  margin: 0 1em;
  max-height: 60vh;
  display: grid;
  grid-template-rows: 0.3fr 1.3fr 3fr 0.3fr 1fr;
  grid-template-columns: 3fr 0.3fr 3fr 0.3fr 2fr;
  gap: 0px 0px;  
}
@media (max-width: 800px) { 
  .banner{
    grid-template-rows: 0.3fr 3fr 0.3fr 0.3fr 3fr;
    grid-template-columns: 0.3fr 1fr 0.3fr 1fr 0.3fr;  
  }
}
.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner img:nth-child(1) { grid-area: 2 / 1 / 5 / 3; }
.banner img:nth-child(2) { grid-area: 3 / 2 / 6 / 5; }
.banner img:nth-child(3) { grid-area: 1 / 4 / 4 / 6; }

/* Camp content Aside */
.camp-content{
 padding: 2em 0; 
}
.camp-content aside{
  float: right;
  margin: 0 0 2em 2em;
  border: 1px solid var(--white);
  padding: 1em;
}

/* definition list */
dl dt{
  font-weight: bold;
}


/* Quotes */
blockquote{
  font-family: 'Garamond', Serif;
  font-style: italic;
  font-size: 140%;
  margin: 0;
  padding: 0;
}
blockquote::before {
  content: "—";
  float: left;
  margin-right: 0.4em;
}

/* Footer */
/* Sources and ideas for trees https://codepen.io/arsenykonohov/pen/BoBeQj and clouds https://codepen.io/claudineong/pen/qBbeLdP */
footer{
  margin: 2em 0 0;
  padding: 2em 0;
  background-color: var(--green);
  border-bottom: 4vh solid var(--apple);
}

/* FOREST */
.forest{
  position: relative;
  height: 2vh;
}
.tree{ 
  position: absolute;
  transform: scale(0.8);
  transform-origin: bottom;
  bottom: 3vh;
  right: 13vh;
  width: 20vh;
  height: 28vh;
  z-index:10;
  filter: sepia(30%);
  overflow: hidden;
}
.tree:first-child{
  transform: rotate(1.2deg);
  bottom: 4vh;
  right: 8vh;
  z-index:8;
  filter: sepia(50%);
}
.tree:last-child{
  z-index:4;
  transform: rotate(-1.2deg);
  bottom: 5vh;
  right: 16vh;
  filter: sepia(70%);
}
.tree *, .tree *:after{
  position: absolute;
  border-style: solid;
}
.branch:after, .trunk:after{
  right: 0;
  bottom: 0;
  content: "";
}
.trunk{
  bottom: 0;
  right: 8vh;
  border-width: 28vh 0 0 2vh;
  border-color: transparent transparent transparent var(--green2);
}
.trunk:after{
  right: 2vh;
  border-width: 0vh 0vh 28vh 2vh;
  border-color: transparent transparent var(--green3) transparent;
}
.branch{
  border-color: transparent transparent transparent var(--green4);
}
.branch:after{
  border-color: transparent transparent var(--green) transparent;
}
.branch_1{
  bottom: 5vh;
  right: 0vh;
  border-width: 12vh 0 0 10vh;
}
.branch_1:after{
  right: 10vh;
  border-width: 0vh 0vh 12vh 10vh;
}
.branch_2{
  bottom: 12vh;
  right: 2vh;
  border-width: 12vh 0 0 8vh;
}
.branch_2:after{
  right: 8vh;
  border-width: 0vh 0vh 12vh 8vh;
}
.branch_3{
  bottom: 18vh;
  right: 4vh;
  border-width: 8vh 0 0 6vh;
}
.branch_3:after{
  right: 6vh;
  border-width: 0vh 0vh 8vh 6vh;
}
.branch_4{
  bottom: 22vh;
  right: 6vh;
  border-width: 6vh 0 0 4vh;
}
.branch_4:after{
  right: 4vh;
  border-width: 0vh 0vh 6vh 4vh;
}


/* Clouds */

.cloud-space {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow-x: hidden;
}

.cloud {
  --cloud-colour: #ffffff;
  --cloud-factor: 1rem;
  --cloud-opacity: 0.1;
  position: absolute;
  top: 50%;
  left: calc(-20 * var(--cloud-factor));
  right: auto;
  background-color: var(--cloud-colour);
  opacity: var(--cloud-opacity);
  width: calc(20 * var(--cloud-factor));
  height: calc(6 * var(--cloud-factor));
  border-radius: calc(3 * var(--cloud-factor));
  animation: cloudFloat 60s linear infinite;
}
.cloud:before {
  content: "";
  position: absolute;
  left: calc(3.2 * var(--cloud-factor));
  bottom: calc(3.2 * var(--cloud-factor));
  background-color: var(--cloud-colour);
  width: calc(8 * var(--cloud-factor));
  height: calc(8 * var(--cloud-factor));
  border-radius: 50%;
}
.cloud:after {
  content: "";
  position: absolute;
  left: calc(8.7 * var(--cloud-factor));
  bottom: calc(2.2 * var(--cloud-factor));
  background-color: var(--cloud-colour);
  width: calc(7.5 * var(--cloud-factor));
  height: calc(7.5 * var(--cloud-factor));
  border-radius: 50%;
}
.cloud:nth-child(2) {
  --cloud-factor: 0.75rem;
  --cloud-opacity: 0.5;
  top: 20%;
  left: -50%;
  right: auto;
  animation: cloudFloat 48s linear infinite;
}
.cloud:nth-child(3) {
  --cloud-factor: 0.6rem;
  --cloud-opacity: 0.4;
  top: 75%;
  left: -50%;
  right: auto;
  animation: cloudFloat 38s linear infinite;
}

@keyframes cloudFloat {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(150vmax, 0, 0);
    }
}


/* campfire source https://codepen.io/Rosefae/pen/oQBRXe */
 .campfire {
  width: 12vh;
  margin-bottom: 1.5vh;
  margin-left: auto;
  margin-right: 8vw;
  position: relative;
  z-index: 88;
}

.campfire * {
  position: absolute;
}

.logs {
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 1.5vh;
}
.logs .two {
  width: 3vh;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
}
.logs .two .log {
  position: relative;
  width: 100%;
  height: 2.25vh;
  background: var(--wood);
  margin-bottom: -1.2vh;
  clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
}
.logs .two::before {
  content: "";
  display: block;
  position: relative;
  width: 1.2vh;
  height: 1.08vh;
  background: var(--wood);
  margin: 0 auto;
  border-radius: 50%;
  transform: translatey(60%);
}
.logs .two::after {
  content: "";
  display: block;
  position: relative;
  width: 3vh;
  height: 2.4vh;
  border-radius: 50%;
  background: var(--inwood);
  box-sizing: border-box;
  border: 0.35vh var(--wood) solid;
}
.logs .one, .logs .three {
  width: 2.4vh;
  margin-left: -2.4vh;
  bottom: -1.65vh;
}
.logs .one .log, .logs .three .log {
  position: relative;
  width: 100%;
  height: 2.4vh;
  background: var(--wood);
  clip-path: polygon(0% 0%, 100% 0%, 100% 41%, 11% 100%);
  transform-origin: 0 0;
  transform: skewy(-10deg);
}
.logs .one::before, .logs .three::before {
  content: "";
  display: block;
  position: relative;
  width: 0.72vh;
  height: 1.08vh;
  background: var(--wood);
  margin-right: 0;
  margin-left: auto;
  border-radius: 50%;
  transform: translate(45%, 57%);
}
.logs .one::after, .logs .three::after {
  content: "";
  display: block;
  position: relative;
  width: 1.8vh;
  height: 2.4vh;
  border-radius: 50%;
  background: var(--inwood);
  transform: translate(-50%, -100%);
  box-sizing: border-box;
  border: 0.35vh var(--wood) solid;
}
.logs .three {
  transform: scalex(-1);
  margin-left: 1.5vh;
}

.fire {
  left: 50%;
  bottom: 3.675vh;
}

.flames > * {
  bottom: 0;
  right: 0;
}
.flames > * .flame {
  bottom: 0;
  right: 0;
  background: rgba(255, 119, 15, 0.6);
  width: 5.25vh;
  height: 7.2vh;
  border-radius: 0 6vh;
  transform-origin: 100% 100%;
}
.flames .two {
  transform: rotate(30deg);
}
.flames .three {
  transform: scalex(-1);
}
.flames.inner > * .flame {
  background: rgba(255, 218, 119, 0.4);
  width: 3vh;
  height: 3.6vh;
}

.glow {
  background: radial-gradient(closest-side, #ff770f, rgba(255, 119, 15, 0));
  width: 100%;
  height: 100%;
  top: -1.2vh;
}

.one .flame, .inner .one .flame {
  animation-delay: -0.2s;
}

.two .flame, .inner .one .flame {
  animation-delay: -0.5s;
}

.three .flame, .inner .one .flame {
  animation-delay: -0.9s;
}

.flame {
  animation: wave 1s ease-in-out infinite alternate, flicker 0.3s ease-in-out infinite alternate, height 0.5s ease infinite alternate;
}

.inner .flame {
  animation: wave 0.8s ease-in-out infinite alternate, flicker 0.2s ease-in-out infinite alternate, heightsmall 0.3s ease infinite alternate;
}

.glow {
  animation: glow 0.8s ease-in-out infinite alternate, flicker 0.3s ease-in-out infinite alternate;
}

@keyframes wave {
  from {
  transform: rotate(-5deg);
  }
  to {
  transform: rotate(5deg);
  }
}
@keyframes flicker {
  from {
  opacity: 0.8;
  }
  to {
  opacity: 1;
  }
}
@keyframes height {
  from {
  height: 7.2vh;
  width: 5.25vh;
  }
  to {
  height: 6.6vh;
  width: 4.5vh;
  }
}
@keyframes heightsmall {
  from {
  height: 3.6vh;
  width: 3.0vh;
  }
  to {
  height: 3.45vh;
  width: 2.4vh;
  }
}
@keyframes glow {
  from {
  transform: scale(1.1);
  }
  to {
  transform: scale(1);
  }
}


/* Utilities */
.hide-mobile{
  display: none;
}
@media (min-width: 60em) {
  .hide-mobile{
    display: block;
  }
}


