:root {
  /* colors */  
  --blanc: #fdfdfd;
  --noir: #333333;
  --bleu: #143ff5;
}

@media (prefers-color-scheme: dark) {
  :root {
      --blanc: #fdfdfd;
      --noir: #333333;
      --bleu: #143ff5;
    }
}

/* A11Y */
.a11y-navigation{
  position: fixed;
  z-index: 100;
  top: 1em;
  left: 1em;
}
.a11y-navigation ul li{
  list-style: none;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.sr-show-on-focus:focus{
  z-index: 20;
  width: auto;
  min-width: 10em;
  height: auto;
  clip: auto;
  background-color: #000;
  padding: 0.4em 1em;
  color: #fff;
}


html{
  font-size: 110%;
}

/* Prevent animation library to hide data for javascript disabled https://github.com/michalsnik/aos/issues/541 */
html.no-js [data-aos] {
  opacity: 1;
  transform: none;
}

body{
  background-color: var(--bleu);
  color: var(--blanc);
  font-family: 'avenir next', avenir, 'helvetica neue', -apple-system,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: calc(1em + 0.5vw);
  font-size: clamp(1em,calc(1em + 1vw),24px);
  margin: 0;
  padding:0;
}

main{
  position: relative;
  z-index: 80;
  max-width: 50em;
  margin: auto;
}

@supports (display: grid) and (not (-ms-ime-align: auto)) {
	main{
	 max-width: none;	
	}
  .container{
	display: grid;
	width: 100%;
	max-width: 100%;
	grid-template-columns:
	[full-start] minmax(1em, 1fr)
	[main-start] minmax(0, 50em) [main-end]
	minmax(1em, 1fr) [full-end];
  }
  .container>*{
	grid-column: main;
  }
  .container-main{
	grid-column: main;
  }
  .container-full{
	grid-column:full;
  }
}


a{
  color: var(--blanc);
  text-decoration-skip-ink: auto;
  text-decoration: currentcolor underline;
}
a:hover{
  /* color: var(--cuivre); */
}
a:visited{
  color: currentcolor;
}


header nav ul{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 1vh;
  line-height: 1em;
}
header nav li {
  list-style: none;
}
header nav a{
  display: block;
  padding: 0.3em 0.3em ;
}
@media (max-width: 700px) {
  header{
    margin-bottom: 5vh;
  }
  header nav ul{
    margin: 1em;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Typography */
h1, h2, h3, h4, h5{
  word-wrap: break-word;
}
h1, .h1, .h-huge {
  font-size: -webkit-calc(300% + 1vw);
  font-size: clamp(2em,calc(2em + 3vw),130px);
  line-height: 1.1em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
h2, .h2 {
  font-size: calc(1.2em + 1vw);
  font-size: -webkit-calc(120% + 1vw);
  line-height: 1.3em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
h3, .h3 {
  font-size: calc(0.9em + 1vw);
  font-size: -webkit-calc(90% + 1vw);
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}
h4, .h4 {
  font-size: calc(0.8em + 1vw);
  font-size: -webkit-calc(80% + 1vw);
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}


.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

p, ul, ol, pre, table, blockquote {
  line-height: 1.56em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

ul, ol{
  margin-left: 1.4em;
  padding-left: 0em;
  margin-bottom: 1em;
}
ul li, ol li{
  margin-bottom: 0.3em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0.3em;
  margin-bottom: 0px;
}

input, textarea, keygen, select, button{
  font-size: 100%;
}

mark{
  background-color: yellow;
}



/* Quotes */
blockquote{
  font-family: 'Garamond', Serif;
  font-style: italic;
  font-size: 140%;
  margin: 0;
  padding: 0;
}
blockquote::before {
  content: "—";
  float: left;
  margin-right: 0.4em;
}

footer{
  margin: 2em 0;
  padding: 2em 0;
  border-top: 1px solid var(--blanc);
}

/* Utilities */
.hide-mobile{
  display: none;
}
@media (min-width: 60em) {
  .hide-mobile{
    display: block;
  }
}


