{{ define "main" }}
	<article class="camps">
		<h1>
			{{ .Title }}	
		</h1>
		{{ if .Params.teaser }}
		  <p class="lead">{{ markdownify .Params.teaser }}</p>
		{{ end }}
		{{ if .Params.startdate }}
		  <p class="sublead">Du {{ .Params.startdate }} au {{ if .Params.enddate }}{{ .Params.enddate }}{{ end }} à {{ if .Params.location }}{{ .Params.location }}{{ end }}</p>
		{{ end }}
		{{ if .Params.banner }}
			<div class="banner">
				{{ range $val := .Params.banner }}
					<img src="/{{ $val }}" loading="lazy"/>
				{{ end }}					
			</div>
		{{ end }}
		<div class="souvenir-content">			
			{{ .Content }}
		</div>
		

		
	</article>
{{ end }}
