<div class="cloud-space">		
	<div class="cloud"></div>
	<div class="cloud"></div>
	<div class="cloud"></div>
</div>
<footer>
	<div class="forest">
		<div class="tree">
			<div class="branch branch_1" data-aos-delay="300" data-aos="slide-up"
			 data-aos-duration="500"></div>
			<div class="branch branch_2" data-aos-delay="300" data-aos="slide-up"
			 data-aos-duration="700"></div>
			<div class="branch branch_3" data-aos-delay="300" data-aos="slide-up"
			 data-aos-duration="900"></div>
			<div class="branch branch_4" data-aos-delay="300" data-aos="slide-up"
			 data-aos-duration="1100"></div>
			<div class="trunk" data-aos-delay="300" data-aos="slide-up"
			 data-aos-duration="700"></div>
		</div>
		<div class="tree">
			<div class="branch branch_1" data-aos="slide-up"
			 data-aos-duration="500"></div>
			<div class="branch branch_2" data-aos="slide-up"
			 data-aos-duration="700"></div>
			<div class="branch branch_3" data-aos="slide-up"
			 data-aos-duration="900"></div>
			<div class="branch branch_4" data-aos="slide-up"
			 data-aos-duration="1100"></div>
			<div class="trunk" data-aos="slide-up"
			 data-aos-duration="700"></div>
		</div>
		<div class="tree">
			<div class="branch branch_1" data-aos-delay="200" data-aos="slide-up"
			 data-aos-duration="500"></div>
			<div class="branch branch_2" data-aos-delay="200" data-aos="slide-up"
			 data-aos-duration="700"></div>
			<div class="branch branch_3" data-aos-delay="200" data-aos="slide-up"
			 data-aos-duration="900"></div>
			<div class="branch branch_4" data-aos-delay="200" data-aos="slide-up"
			 data-aos-duration="1100"></div>
			<div class="trunk" data-aos-delay="200" data-aos="slide-up"
			 data-aos-duration="700"></div>
		</div>
	</div>
	<div class="container">
		<p>
			{{ .Site.Title }}
		</p>
	</div>
</footer>
